git:
  depth: 5

stages:
  - "Build and Test"
  - "Package"
  - "Sonar"

jobs:
  include:
    - stage: "Build and Test"
      language: java
      jdk: oraclejdk11
      before_script:
        - cd sample-application-backend
      script:
        - echo "Maven build"
        - echo "Run test coverage and Quality Gate"
        - mvn clean verify
    
    - stage: "Build and Test"
      language: node.js
      node_js: "12.20"
      before_script:
        - cd sample-application-frontend
      script:
        - echo "NPM install and build"
        - npm install
        - npm run build
        - npm run test
        - npm run lint

    - stage: "Package"
      before_script:
        - cd sample-application-backend
      script:
        - echo "Docker build ..."
        - docker build -t $DOCKERHUB_USER/sample-application-backend .
        - echo "Docker login ..."
        - docker login -u $DOCKERHUB_USER -p $DOCKERHUB_PASSWD
        - echo "Docker push ..."
        - docker push $DOCKERHUB_USER/sample-application-backend
    
    - stage: "Package"
      before_script:
        - cd sample-application-frontend
      script:
        - echo "Docker build ..."
        - docker build -t $DOCKERHUB_USER/sample-application-frontend .
        - echo "Docker login ..."
        - docker login -u $DOCKERHUB_USER -p $DOCKERHUB_PASSWD
        - echo "Docker push ..."
        - docker push $DOCKERHUB_USER/sample-application-frontend

    - stage: "Sonar"
      language: java
      before_script:
        - cd sample-application-backend
      script:
        - echo "Maven sonar"
        - mvn clean verify "org.jacoco:jacoco-maven-plugin:prepare-agent" "sonar:sonar" "-Dsonar.projectKey=sample-application-students"

cache:
  directories:
    - "$HOME/.m2/repository"
    - "$HOME/.npm"

services:
  - docker

addons:
  sonarcloud:
    organization: "aiveo"
    token: "$SONARCLOUD_TOKEN"